apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "uptimerobot-operator.serviceAccountName" . }}
rules:
  - apiGroups: [apiextensions.k8s.io]
    resources: [customresourcedefinitions]
    verbs: [create, patch, list, watch]

  - apiGroups: [""]
    resources: [namespaces]
    verbs: [list, watch]

  - apiGroups: [""]
    resources: [events]
    verbs: [create]

  - apiGroups: ["networking.k8s.io"]
    resources: [ingresses]
    verbs: [get, list, watch, patch]

  - apiGroups: [uroperator.brennerm.github.io]
    resources: ["*"]
    verbs: ["*"]